<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatgptserver.dao.GptMapper">

    <select id="getGptByCode" resultType="chatgptserver.bean.po.GptPO">
        select * from tb_chatgpt_gpt where gpt_code = #{gptCode}
    </select>

    <select id="gptList" resultType="chatgptserver.bean.po.GptPO">
        select * from tb_chatgpt_gpt
    </select>

    <select id="defaultList" resultType="chatgptserver.bean.po.DefaultPO">
        select * from tb_chatgpt_default
        where function_code
        in (select function_code from tb_chatgpt_chat_functions where gpt_code = #{gptCode})
    </select>

    <select id="getFunctionNameInfo" resultType="String">
        select function_name from tb_chatgpt_chat_functions where function_code = #{functionCode} limit 0, 1
    </select>


</mapper>