<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatgptserver.dao.MessageMapper">

    <insert id="insertMessage">
        insert into tb_chatgpt_messages(role, user_code, chat_code, username, chat_name, image, question, replication)
            values (#{role}, #{userCode}, #{chatCode}, #{username}, #{chatName}, #{image}, #{question}, #{replication})
    </insert>


    <select id="getWenXinHistory" resultType="chatgptserver.bean.po.MessagesPO">
        select * from tb_chatgpt_messages where chat_code = #{chatCode} order by id DESC limit 0, 20
    </select>

    <select id="getHistoryList" resultType="chatgptserver.bean.po.MessagesPO">
        select * from tb_chatgpt_messages where chat_code = #{chatCode} order by id DESC limit #{startIndex}, #{size}
    </select>

    <select id="getToalMessages" resultType="java.lang.Integer">
        select count(*) from tb_chatgpt_messages where chat_code = #{chatCode}
    </select>

    <select id="getTongYiMultipleQuestionHistory" resultType="chatgptserver.bean.po.MessagesPO">
        select * from tb_chatgpt_messages where chat_code = #{chatCode} and id >= #{id} order by create_time DESC
    </select>

    <select id="getTongYiQuestionFistChat" resultType="chatgptserver.bean.po.MessagesPO">
        select * from tb_chatgpt_messages where chat_code = #{chatCode} and image != '0' order by create_time DESC limit 0, 1
    </select>

</mapper>