<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatgptserver.dao.MessageMapper">

    <insert id="insertMessage">
        insert into tb_chatgpt_messages(role, user_code, chat_code, username, chat_name, image, question, replication, reply_image, create_time, update_time)
            values (#{role}, #{userCode}, #{chatCode}, #{username}, #{chatName}, #{image}, #{question}, #{replication}, #{replyImage}, #{createTime}, now())
    </insert>

    <insert id="insertDefaultMessage">
        insert into tb_chatgpt_messages(role, user_code, chat_code, username, chat_name, image, question, replication, reply_image, is_default, update_time)
        values (#{role}, #{userCode}, #{chatCode}, #{username}, #{chatName}, #{image}, #{question}, #{replication}, #{replyImage}, #{isDefault}, now())
    </insert>

    <update id="rebuildQuestion">
        update tb_chatgpt_messages
        set replication = #{replication}, create_time = #{questionTime}, update_time = now()
        where id = #{id}
    </update>


    <select id="getWenXinHistory" resultType="chatgptserver.bean.po.MessagesPO">
        select * from tb_chatgpt_messages where chat_code = #{chatCode} order by id DESC limit 0, 10
    </select>

    <select id="getHistoryList" resultType="chatgptserver.bean.po.MessagesPO">
        select * from tb_chatgpt_messages where chat_code = #{chatCode} order by id DESC limit #{startIndex}, #{size}
    </select>

    <select id="getToalMessages" resultType="java.lang.Integer">
        select count(*) from tb_chatgpt_messages where chat_code = #{chatCode}
    </select>

    <select id="getTongYiMultipleQuestionHistory" resultType="chatgptserver.bean.po.MessagesPO">
        select * from tb_chatgpt_messages where chat_code = #{chatCode} and id > #{id} order by create_time DESC
    </select>

    <select id="getTongYiQuestionFistChat" resultType="chatgptserver.bean.po.MessagesPO">
        select * from tb_chatgpt_messages where chat_code = #{chatCode} and image != '0' order by create_time DESC limit 0, 1
    </select>

    <select id="chatCreateList" resultType="chatgptserver.bean.po.ChatPO">
        select *
        from tb_chatgpt_chat
        <where>
            <if test="userCode != null">
                and user_code = #{userCode}
            </if>
            <if test="gptCode != null">
                and gpt_code = #{gptCode}
            </if>
            <if test="functionCode != null">
                and function_code = #{functionCode}
            </if>
            and is_delete = 0
        </where>
        order by create_time DESC
    </select>

    <select id="getChatAmount" resultType="java.lang.Integer">
        select count(*) from tb_chatgpt_messages where chat_code = #{chatCode}
    </select>

    <select id="getLastChatTime" resultType="java.util.Date">
        select create_time from tb_chatgpt_messages where chat_code = #{chatCode} order by create_time DESC limit 0, 1
    </select>

    <select id="getUpdateMessageId" resultType="java.lang.Integer">
        SELECT MAX(id) FROM tb_chatgpt_messages WHERE chat_code = #{chatCode}
    </select>

    <select id="getUpdateMessagePO" resultType="chatgptserver.bean.po.MessagesPO">
        SELECT * FROM tb_chatgpt_messages WHERE chat_code = #{chatCode} order by create_time DESC limit 0, 1
    </select>

</mapper>