<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatgptserver.dao.PptMapper">


    <insert id="remainColor">
        insert into tb_ppt_color (color_key, color_name, thumbnail) values (#{key}, #{name}, #{thumbnail})
    </insert>

    <insert id="pptUpload" parameterType="chatgptserver.bean.po.PptPO" useGeneratedKeys="true" keyProperty="id">
        insert into tb_ppt_info(first_kind, second_kind, title, cover_url, ppt_url, create_time, update_time)
        values (#{firstKind}, #{secondKind}, #{title}, #{coverUrl}, #{pptUrl}, now(), now())
    </insert>

    <insert id="pptCollect">
        insert into tb_ppt_collect(user_code, ppt_code) values (#{userCode}, #{pptCode})
    </insert>

    <update id="updatePptCodeById">
        update tb_ppt_info set ppt_code = #{pptCode} where id = #{id}
    </update>

    <delete id="pptDisCollect">
        delete from tb_ppt_collect where user_code = #{userCode} and ppt_code = #{pptCode}
    </delete>

    <select id="pptColorList" resultType="chatgptserver.bean.po.PptColorPO">
        select * from tb_ppt_color
    </select>

    <select id="firstKindList" resultType="java.lang.String">
        select DISTINCT(first_kind) from tb_ppt_kind
    </select>

    <select id="secondListByFirstKind" resultType="java.lang.String">
        select DISTINCT(second_kind) from tb_ppt_kind where first_kind = #{firstKind}
    </select>

    <select id="pptListByKind" resultType="chatgptserver.bean.po.PptPO">
        select *
        from tb_ppt_info
        <where>
            <if test="firstKind != null and firstKind != ''">
                and first_kind = #{firstKind}
            </if>
            <if test="secondKind != null and secondKind != ''">
                and second_kind = #{secondKind}
            </if>
        </where>
        order by create_time DESC limit #{startIndex}, #{size}
    </select>

    <select id="totalOfpptListByKind" resultType="java.lang.Integer">
        select count(*)
        from tb_ppt_info
        <where>
            <if test="firstKind != null and firstKind != ''">
                and first_kind = #{firstKind}
            </if>
            <if test="secondKind != null and secondKind != ''">
                and second_kind = #{secondKind}
            </if>
        </where>
    </select>

    <select id="pptIsCollected" resultType="java.lang.Integer">
        select count(*) from tb_ppt_collect where user_code = #{userCode} and ppt_code = #{pptCode}
    </select>

</mapper>